<section class="container">
  <form class="form" (ngSubmit)="transferValue()">
    <div class="form__titulo">
      <h3>Nova Transferencia</h3>
    </div>
    <div class="form-field">
      <label for="value" class="form-field__label"
        >Valor da Transfrencia:</label
      >
      <input type="number" id="value" class="form-field__input" [(ngModel)]="valueTransfer" name="value" />
    </div>
    <div class="form-field">
      <label for="destino" class="form-field__label">Destino</label>
      <input type="text" id="valor" class="form-field__input" [(ngModel)]="destiny" name="destiny"/>
    </div>
    <div>
      <div class="button-wrapper">
        <button class="button" type="submit">Transferir</button>
      </div>
    </div>
  </form>
</section>
